workflowsData Update: Hope.json
{
  "active": false,
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Sync": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size Sync": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Sync": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Write": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Sync": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Write": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation1": {
      "main": [
        [
          {
            "node": "Code18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Data Update: Hope: Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Import": {
      "main": [
        [
          {
            "node": "Category Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Write": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Write": {
      "main": [
        [
          {
            "node": "Template Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Size Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Product Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Variant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Brand Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Brand Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Colour Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Colour Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Attribute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Template Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Data Update: GENERIC: Make Transit Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code18": {
      "main": [
        [
          {
            "node": "Index Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Update: Hope: Prep": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T14:14:16.677Z",
  "id": "pyVaY3RkdCHPnS3e",
  "name": "Data Update: Hope",
  "nodes": [
    {
      "parameters": {},
      "id": "9cc73cbc-3220-4067-af12-4b979e5dd9a6",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        800,
        940
      ]
    },
    {
      "parameters": {
        "workflowId": "77"
      },
      "id": "7ab8973a-a75b-4ce3-8797-648db8a7c3a5",
      "name": "Category Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2880,
        640
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "62"
      },
      "id": "6d2346e8-3b35-4bc6-b20d-31bfb0e0cdb7",
      "name": "Size Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3000,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "64"
      },
      "id": "7fbbdaf0-8b8e-4b98-9b23-f5f655f6efcc",
      "name": "Brand Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3340,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "65"
      },
      "id": "8008a8c6-145b-46e6-b3e3-1b3db7a50e3d",
      "name": "Brand Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3520,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": "66"
      },
      "id": "829ed3d2-fd82-4452-9777-64297a905237",
      "name": "Colour Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3660,
        840
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "12b826b2-a12e-4c8f-9182-4346f354fc76",
      "name": "Template Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4180,
        740
      ]
    },
    {
      "parameters": {
        "workflowId": "69"
      },
      "id": "b97e9a5b-64ee-40bc-8fa2-9b951dd84dd5",
      "name": "Template Creation1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4460,
        740
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "63"
      },
      "id": "53f8b5c0-4a53-46bc-b174-9665825c1a9f",
      "name": "Variant Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3200,
        640
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Saddleback"
            }
          ]
        }
      },
      "id": "cbcd6720-c112-47f2-8023-e528ffb14ba5",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        820,
        1640
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "2427e21c-6214-4319-85ee-a43bc888cd62",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1340,
        940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{  JSON.parse($json[\"Globals\"])[0]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11e16278-b3fd-4a38-8f16-c27c42c3ee35",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1340,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "f8dd017f-7dfe-49fa-8103-13f559665ca0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "content": "##Progress: Create",
        "height": 320.17725067385476,
        "width": 705.3541778975705
      },
      "id": "9c3a35dd-c4ce-4a5b-b494-e109042fa275",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        626.4211320754716
      ]
    },
    {
      "parameters": {},
      "id": "2829b960-12b8-400b-91a6-7fc76d4d93df",
      "name": "Product Import",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2720,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": "67"
      },
      "id": "c6dc57c2-5fcc-4311-9668-22a5ec5b9dc0",
      "name": "Colour Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3840,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": "68"
      },
      "id": "a2df6174-874d-4415-8ed9-50cf923282f9",
      "name": "Attribute Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3980,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "c933ecfb-ef0d-4299-bfd2-6433679fe7a2",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2880,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "eafa8c35-28e8-43d1-ab5e-a57ae37de278",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2580,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "746b9d03-8246-4e3b-9ecd-8d574756f4e3",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3060,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "e274faa2-c92e-48ee-b2da-57191fc186eb",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3200,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "e05e8096-a226-4f1e-bc5d-46e8318353d7",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3380,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "88eeb456-ca0d-48a0-97fa-fd719508b51e",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3520,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "6e987885-f0b0-4185-bf26-4e0786cefad2",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3700,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "3404f49e-5963-4eb4-a5f4-2e4df0821c39",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3840,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "ca8062cb-c03e-4ec2-9304-494dbe3c965c",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4320,
        740
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "operator": "like",
              "value": "Saddleback"
            }
          ]
        }
      },
      "id": "db1ccdcf-bbbe-41f8-9cb2-01e989dde843",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1120,
        1640
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "55363f50-87be-4ada-ba30-1f19f3393b1d",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1560,
        1180
      ]
    },
    {
      "parameters": {
        "workflowId": "110"
      },
      "id": "4707f448-6930-40e2-8abc-3e7d198b7aa7",
      "name": "Index Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4440,
        1520
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "9fbf8f6c-a08d-423b-a2e2-26f8b5a6b47f",
      "name": "Code18",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4300,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Hope';",
        "options": {}
      },
      "id": "ded5de47-7495-484a-b66d-cadfb444cdeb",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1120,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "9Jz67Tm0faeykq6p",
          "name": "odoodata"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "6iPyycDFptfOWuvl"
      },
      "id": "633d16ae-4695-4b09-8bbd-404fbc90d2b8",
      "name": "Data Update: Hope: Prep",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1560,
        940
      ]
    },
    {
      "parameters": {
        "workflowId": "ickMvwWPWp74exVK"
      },
      "id": "c13efe18-3d3b-4921-918e-b30a05940c0f",
      "name": "Data Update: GENERIC: Make Transit Tables",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1740,
        1180
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "L1fUV1w4SPdU5s4B",
      "createdAt": "2023-07-30T14:14:22.018Z",
      "updatedAt": "2023-07-30T14:14:22.018Z",
      "name": "Hope"
    },
    {
      "id": "NgXcDDqIPq9W8PqT",
      "createdAt": "2023-07-30T10:50:20.897Z",
      "updatedAt": "2023-07-30T10:50:20.897Z",
      "name": "Postgresql"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-30T14:19:32.000Z",
  "versionId": "9e1b4c54-f65e-4770-b68b-ee9209b55940"
}