workflowsData Update: Extra.json
{
  "active": false,
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Sync": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size Sync": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Sync": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Write": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Sync": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Write": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation1": {
      "main": [
        [
          {
            "node": "Variant Sync / Tidy Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Data Update: Extra: Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Import": {
      "main": [
        [
          {
            "node": "Category Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Write": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Write": {
      "main": [
        [
          {
            "node": "Template Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Size Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Product Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Variant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Brand Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Brand Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Colour Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Colour Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Attribute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Template Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Data Update: GENERIC: Make Transit Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Update: Extra: Prep": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-09T12:06:05.549Z",
  "id": "e4z5ESW7qH261icf",
  "name": "Data Update: Extra",
  "nodes": [
    {
      "parameters": {},
      "id": "4174122a-df08-45c7-ae85-715cc04a2541",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1120,
        780
      ]
    },
    {
      "parameters": {
        "workflowId": "77"
      },
      "id": "60576493-a72a-49b8-b489-5fe4859a4876",
      "name": "Category Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3180,
        540
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "62"
      },
      "id": "a2f9cdb5-add5-4d4c-b7ec-6678fbec5b28",
      "name": "Size Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3300,
        740
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "64"
      },
      "id": "1b2cb3e6-67d6-4b40-a769-57f6abfce894",
      "name": "Brand Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3640,
        740
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "65"
      },
      "id": "48e834e1-666e-40e1-b04a-19962566fe33",
      "name": "Brand Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3820,
        540
      ]
    },
    {
      "parameters": {
        "workflowId": "66"
      },
      "id": "1cdae981-e1b0-407f-b375-a4aec0232647",
      "name": "Colour Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3960,
        740
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "24e61635-506e-4d22-ade8-dd92fcd9bcd8",
      "name": "Template Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4480,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": "69"
      },
      "id": "24ad02ad-0a74-47bd-b15b-80ed72d74b0b",
      "name": "Template Creation1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4760,
        640
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "63"
      },
      "id": "475f6c35-00c5-481f-995a-d92c90e51052",
      "name": "Variant Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3500,
        540
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "51"
      },
      "id": "32b9c60d-3504-4d75-a367-6440c1878164",
      "name": "Variant Sync / Tidy Up",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4920,
        640
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Extra"
            }
          ]
        }
      },
      "id": "28a54200-a375-4d72-828e-0043b5a68856",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1120,
        1540
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "3aa36e15-c858-4299-801f-a4aa984fc83b",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1640,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{  JSON.parse($json[\"Globals\"])[0]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3d35585-f146-4d7d-a31d-fd5268910240",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1640,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "2f2e3e56-65ff-4091-9c6b-7d1370413f22",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "content": "##Progress: Create",
        "height": 320.17725067385476,
        "width": 705.3541778975705
      },
      "id": "5b3978ac-d446-495e-80c9-65d035774cda",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2620,
        526.4211320754716
      ]
    },
    {
      "parameters": {},
      "id": "269852e0-aa73-4e03-9167-6a6493366f0b",
      "name": "Product Import",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3020,
        620
      ]
    },
    {
      "parameters": {
        "workflowId": "67"
      },
      "id": "f5a194f8-75c7-42f6-bcb7-c9d0032ab066",
      "name": "Colour Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4140,
        540
      ]
    },
    {
      "parameters": {
        "workflowId": "68"
      },
      "id": "2018c797-52e9-476d-af94-bd9d33b47845",
      "name": "Attribute Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4280,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "64095fb0-4b53-458a-a3d6-c4f9c068a2bd",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3180,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "e793c6f2-9243-441b-a816-e6cd6f082eb1",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2880,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "998487ae-8b92-4bf7-9fcf-fc0efaa9aa9d",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3360,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "529ff4d3-34d5-4751-b282-d53aec9615bc",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3500,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "7e8161e1-e2ec-4def-b70d-1afa7f6061e4",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3680,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "0a992e6f-afe4-4d10-a522-f1de0f1fe079",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3820,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "135cb534-4fb7-4123-a235-b78395509680",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4000,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "ad66e6ba-0d65-4dac-9ed6-2e57072f24b8",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4140,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "0ef2033f-b36a-434a-84c3-c45bda077e9a",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4620,
        640
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "operator": "like",
              "value": "Extra (UK) Ltd"
            }
          ]
        }
      },
      "id": "5309e60f-8c15-45de-b716-ac7ee1933666",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1420,
        1540
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "463e7961-4dfa-43ea-9da1-eebe96684c16",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1860,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Extra';",
        "options": {}
      },
      "id": "05f2cef3-3a91-47b3-b30f-d10805780264",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1380,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "9Jz67Tm0faeykq6p",
          "name": "odoodata"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "8906DNb6RJk9hrHyvY"
      },
      "id": "79879048-edf8-4373-9f15-58c9bf0d2966",
      "name": "Data Update: Extra: Prep",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1860,
        840
      ]
    },
    {
      "parameters": {
        "workflowId": "ickMvwWPWp74exVK"
      },
      "id": "c253eff2-3308-4f75-9f9d-2dd9e4baa1f9",
      "name": "Data Update: GENERIC: Make Transit Tables",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2040,
        1080
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "4S5wvtegUIvgvqYs",
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "name": "PostgreSQL"
    },
    {
      "id": "Vuerdt8JErJ7XwoD",
      "createdAt": "2023-08-08T15:51:26.157Z",
      "updatedAt": "2023-08-08T15:51:26.157Z",
      "name": "code"
    },
    {
      "id": "evqsbisrBK9HqVQU",
      "createdAt": "2023-08-08T15:51:11.963Z",
      "updatedAt": "2023-08-08T15:51:11.963Z",
      "name": "Merge"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-08-09T12:06:42.000Z",
  "versionId": "25b125af-551c-422e-b1bb-6aa0209311aa"
}