workflowsUtility: Barcode Resync.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-10T14:16:13.178Z",
  "id": "7Yx9WMieiFs4OOnu",
  "name": "Utility: Barcode Resync",
  "nodes": [
    {
      "parameters": {},
      "id": "7ed76d92-d691-4d47-b3ca-a7b63ad0c797",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ean, productcode FROM odoodata.upload_madison",
        "options": {}
      },
      "id": "a21965cf-aa69-4c01-9417-281dbcbbe697",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -160,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "active",
            "product_tag_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "default_code",
              "value": "={{ $json.productcode.trim() }}"
            },
            {
              "fieldName": "barcode",
              "value": "={{false}}"
            }
          ]
        }
      },
      "id": "dee6ab1a-6580-4a41-b2f6-642100d35d02",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        280,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9779f99d-e635-463c-932a-ffe15f80413e",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "674655a3-1228-46f4-a572-b305660a1c83",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        540
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "barcode",
              "value": "={{ $('Split In Batches').item.json.ean.trim() }}"
            },
            {
              "name": "default_code",
              "value": "={{ $('Split In Batches').item.json.productcode.trim() }}"
            },
            {
              "name": "product_tag_ids",
              "value": "={{[8]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3285e915-3a74-41ab-9a5b-7600daac6d15",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        740,
        340
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "41894fdf-4ba7-4bd7-acda-a663e821c461",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        60,
        680
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "active",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldName": "product_tag_ids",
              "fieldValue": "={{ [8] }}"
            },
            {
              "fieldName": "barcode",
              "fieldValue": "={{ $json.barcode }}"
            }
          ]
        }
      },
      "id": "efd59fa4-3bd8-4fe8-ae7a-f4981bb91a84",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        920,
        340
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-08-10T16:34:58.000Z",
  "versionId": "1b52f201-2b3b-46fd-b436-f449e1ec7251"
}