workflowsUtility: Git Backup.json
{
  "active": true,
  "connections": {
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-08T14:29:06.285Z",
  "id": "8wxTSYYThWf5pIvi",
  "name": "Utility: Git Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "31275cdc-d801-48c8-8d5d-4d9ff99c3ea6",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -565,
        615
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "6f76a1ca-212f-4673-a189-5df1215062b5",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        280,
        580
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "RY2GXssG3ep6VuMA",
          "name": "GitHub (btxLuke)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "26e8d153-a1e0-4d6f-b632-386b7d6703b3",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        920,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5da32932-2ce1-4025-a136-f05bd4fd0f1d",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1160,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "dfaa559a-893a-4de8-85cb-9ca42aa0a829",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1160,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a76f4ccc-149c-45f9-8a6f-8d79e9f11fa4",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1160,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "e4bf0580-b83f-4ffd-ab0a-4c9b3f638a3c",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1340,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "RY2GXssG3ep6VuMA",
          "name": "GitHub (btxLuke)"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "6b1ea62b-30ce-4601-aad0-a0abb73a2151",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        1340,
        900
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "RY2GXssG3ep6VuMA",
          "name": "GitHub (btxLuke)"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fa16833f-aa60-44c9-9259-a070789ed36a",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        60,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "btxluke"
            },
            {
              "name": "repo.name",
              "value": "node4-v1_0"
            },
            {
              "name": "repo.path",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "9d92466c-47c1-4396-8997-379bafef6567",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -380,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "24e43225-5821-4aa4-b3d8-7af034df785a",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -565,
        875
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "75e72798-addf-4991-8c98-3e96c721d709",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1020,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "9fe6de37-4c3b-412b-8128-b0d4d7d4fba7",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "0776eea7-1c2a-4e19-b2f7-1a8027b55828",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "f3e14ce2-e058-47b1-bcf2-9abf2f19ba21",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2bb709a0-1ea0-4c92-a704-dc0c9d3e75d2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        500,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/api/v1/workflows",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-N8N-API-KEY",
              "value": "n8n_api_d347041926616d229093574ce3a8f398d683634f24f61f620e480ee66264ed91ef7fa187adddc491"
            }
          ]
        },
        "options": {}
      },
      "id": "7269c130-03e5-4254-bbf7-40dd58f6b545",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -360,
        1140
      ]
    },
    {
      "parameters": {
        "filters": {}
      },
      "id": "b5b4cd8e-a943-4ab9-a13b-978b5c18ffff",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -160,
        740
      ],
      "credentials": {
        "n8nApi": {
          "id": "c68wWgVuPQ2kQxOg",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "0o2IVVsMwj08Zmz0",
      "createdAt": "2023-08-08T14:29:13.715Z",
      "updatedAt": "2023-08-08T14:29:13.715Z",
      "name": "GitHub"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-08-12T09:47:38.000Z",
  "versionId": "45d2077c-428a-4ef3-8c7e-ea77eab3074f"
}