workflowsData Update: Saddleback.json
{
  "active": false,
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Sync": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size Sync": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Sync": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Write": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Sync": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Write": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation1": {
      "main": [
        [
          {
            "node": "Code18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Data Update: Saddleback: Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Import": {
      "main": [
        [
          {
            "node": "Category Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Write": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Write": {
      "main": [
        [
          {
            "node": "Template Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Size Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Product Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Variant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Brand Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Brand Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Colour Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Colour Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Attribute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Template Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Data Update: GENERIC: Make Transit Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code18": {
      "main": [
        [
          {
            "node": "Index Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Update: Saddleback: Prep": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T15:31:08.105Z",
  "id": "iAFjUxCv0QQHgvvq",
  "name": "Data Update: Saddleback",
  "nodes": [
    {
      "parameters": {},
      "id": "b8f7db60-84bc-4ebc-bf1a-6b12689d1e2c",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        680,
        960
      ]
    },
    {
      "parameters": {
        "workflowId": "77"
      },
      "id": "f9c86ede-f9cd-4453-8deb-a22a2ff83792",
      "name": "Category Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2760,
        660
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "62"
      },
      "id": "7cca9241-51f6-48e6-933b-1865ca392eea",
      "name": "Size Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2880,
        860
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "64"
      },
      "id": "fdc2ba1e-9bc5-46cc-87f8-d1ca7d57503e",
      "name": "Brand Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3220,
        860
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "65"
      },
      "id": "29ae8f61-b1e0-404d-97b9-04f7548f0821",
      "name": "Brand Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3400,
        660
      ]
    },
    {
      "parameters": {
        "workflowId": "66"
      },
      "id": "411b5139-74d9-4104-a104-da6881736b3a",
      "name": "Colour Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3540,
        860
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "52009562-266e-407d-b39e-d3cb7b5c1b3a",
      "name": "Template Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4060,
        760
      ]
    },
    {
      "parameters": {
        "workflowId": "69"
      },
      "id": "21f42ab5-9407-4fa9-8ee4-f1e66066f13f",
      "name": "Template Creation1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4340,
        760
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "63"
      },
      "id": "58c2d506-4552-4ffd-8f76-a1e96d041971",
      "name": "Variant Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3080,
        660
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Saddleback"
            }
          ]
        }
      },
      "id": "3353c990-b01f-4d7b-8b56-d35fb0373039",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        700,
        1660
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "217d3d09-aab4-4137-ab6a-1d61f9c00bd5",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1220,
        960
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{  JSON.parse($json[\"Globals\"])[0]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5bd26d3-5334-4fed-90b3-609f727f8087",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1220,
        760
      ]
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "26752f15-d92e-4ea2-b583-bdbbc301afca",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        380
      ]
    },
    {
      "parameters": {
        "content": "##Progress: Create",
        "height": 320.17725067385476,
        "width": 705.3541778975705
      },
      "id": "33245bff-02b8-41db-8fdb-5f9a75339913",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2200,
        646
      ]
    },
    {
      "parameters": {},
      "id": "2eebb6f6-6798-4a60-9768-c5d9732d6406",
      "name": "Product Import",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2600,
        740
      ]
    },
    {
      "parameters": {
        "workflowId": "67"
      },
      "id": "953a33f0-a038-4f33-aa73-f7ab52c77911",
      "name": "Colour Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3720,
        660
      ]
    },
    {
      "parameters": {
        "workflowId": "68"
      },
      "id": "a0eac58d-b783-49aa-a1a0-8064f41df355",
      "name": "Attribute Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3860,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "a8516b61-3c7a-49fc-84f6-e85dd4282dbf",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2760,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "2a96917e-7af2-41ad-b690-b5ae33c96142",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2460,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "946fa858-24fc-4f19-8266-afce41e85b2f",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2940,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "adb6ea5d-715c-4542-a3f4-fb7987d57194",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3080,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "1ef103b0-f7f5-498e-9f97-11f8c6578257",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3260,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "50b0aa6f-759d-4c63-9cff-0e9594d8850f",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3400,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "805330e4-4da3-4119-a951-33f6286f076c",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3580,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "b8c762e4-e28b-4a4f-a178-7dacae6e005e",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3720,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "b9381adb-7632-4e01-818f-701627c06ace",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4200,
        760
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "operator": "like",
              "value": "Saddleback"
            }
          ]
        }
      },
      "id": "3e8ac6af-ff20-4c59-a3a7-0ebd2a475b42",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1000,
        1660
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "c4d98de9-7f24-415a-aaa4-fd71ef6acd5b",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1440,
        1200
      ]
    },
    {
      "parameters": {
        "workflowId": "110"
      },
      "id": "698be371-9f32-44cb-9b50-96361de3cf52",
      "name": "Index Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4320,
        1540
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "fe6c6faf-f815-4143-b2dc-67cd4b6db0c5",
      "name": "Code18",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4180,
        1540
      ]
    },
    {
      "parameters": {
        "path": "d1bd3657-6184-4c1a-9c45-6298946b831f",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "44384297-98b1-4a04-a190-1a19c4cd395d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        680,
        760
      ],
      "webhookId": "d1bd3657-6184-4c1a-9c45-6298946b831f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Saddleback';",
        "options": {}
      },
      "id": "4e3771b6-814f-4693-bcb7-397d070032ee",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        940,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "9Jz67Tm0faeykq6p",
          "name": "odoodata"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "ickMvwWPWp74exVK"
      },
      "id": "484dbe16-5092-46e6-905c-b3de7d3c9789",
      "name": "Data Update: GENERIC: Make Transit Tables",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1600,
        1200
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "i3RAu8LS53ieEAiR"
      },
      "id": "3d11efc9-2d32-4c0d-8c81-654bead05db9",
      "name": "Data Update: Saddleback: Prep",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        960
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "OVyLWZFauyPIs92i",
      "createdAt": "2023-07-30T15:31:17.492Z",
      "updatedAt": "2023-07-30T15:31:17.492Z",
      "name": "Saddleback"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-30T15:40:28.000Z",
  "versionId": "4f5fd4b9-3b86-4eeb-91f1-ddeafdd9d7f7"
}