workflowsData Update: Chicken.json
{
  "active": false,
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Get Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Transit Table": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "retrieve globals 99",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Product Import",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Sync": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Write": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Sync": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation1": {
      "main": [
        [
          {
            "node": "Variant Sync / Tidy Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Write": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Globals": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Import": {
      "main": [
        [
          {
            "node": "Category Tidy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Write": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Write": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retrieve globals 99": {
      "main": [
        [
          {
            "node": "Write Transit Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Tidy": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Sync": {
      "main": [
        [
          {
            "node": "CHICKEN Size Transpose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHICKEN Size Transpose": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Category Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Size Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Variant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size Sync": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Brand Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Brand Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Colour Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Colour Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Attribute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Size2 Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size2 Sync": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Version2 Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version2 Sync": {
      "main": [
        [
          {
            "node": "Template Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Template Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T14:46:30.857Z",
  "id": "DxhswKCayutXeekT",
  "name": "Data Update: Chicken",
  "nodes": [
    {
      "parameters": {},
      "id": "03d204a6-f1f1-45c4-bdaa-4f7cef8076b8",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        740,
        980
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=TRUNCATE `Transit-{{ $node[\"Globals\"].json[\"Name\"] }}`"
      },
      "id": "3390fe3b-8139-4f11-82bf-6cb0ae3ffd14",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1420,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "name",
            "product_tag_ids",
            "default_code",
            "list_price",
            "product_tmpl_id",
            "barcode",
            "qty_available",
            "standard_price"
          ]
        }
      },
      "id": "ca98a2d0-8759-4608-b40c-f7af1d6df7d9",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1620,
        1260
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "ProductCode",
              "field2": "ProductCode"
            }
          ]
        },
        "resolve": "mix",
        "preferWhenMix": "input2",
        "exceptWhenMix": "YourPrice,Rrp",
        "options": {
          "skipFields": "id,name,product_tag_ids,default_code,product_tmpl_id,qty_available,Ean"
        }
      },
      "id": "16346314-ac41-42b2-86c2-cfd007147ec5",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 1,
      "position": [
        2040,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT `ProductCode`,`Ean`,`Rrp`,`YourPrice` FROM `Feed-Chicken`;"
      },
      "id": "9c5a266a-22ab-4f5d-821d-44fd690676c3",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1620,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "75"
      },
      "id": "b029ad6c-919b-4478-a9e2-a2484b2520f8",
      "name": "Write Transit Table",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2780,
        820
      ]
    },
    {
      "parameters": {
        "batchSize": 2000,
        "options": {}
      },
      "id": "09731e5b-c9dc-4e96-8490-39ac2b509f21",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2480,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "779fd985-d1ce-496f-995e-39ce603f7739",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2920,
        820
      ]
    },
    {
      "parameters": {
        "workflowId": "77"
      },
      "id": "69d60815-24d4-4d6f-a3fc-0067484cecda",
      "name": "Category Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4040,
        740
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "970dfb4e-3a94-4295-9f6c-2da8b3213dae",
      "name": "Create",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2320,
        820
      ]
    },
    {
      "parameters": {
        "workflowId": "62"
      },
      "id": "367ad069-115d-427e-8059-7c0fbc30f4ee",
      "name": "Size Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4180,
        940
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "64"
      },
      "id": "a8381f67-934a-4bb1-9368-6bf1f9d1b694",
      "name": "Brand Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4520,
        940
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "65"
      },
      "id": "514549af-ada2-4241-9361-c63967b88a8b",
      "name": "Brand Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4700,
        740
      ]
    },
    {
      "parameters": {
        "workflowId": "66"
      },
      "id": "82525c30-9be1-490a-8bc6-45e8d10e5785",
      "name": "Colour Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4840,
        940
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "b160ba36-9804-4197-81d8-cdbbe82474cd",
      "name": "Template Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5740,
        840
      ]
    },
    {
      "parameters": {
        "workflowId": "69"
      },
      "id": "d25a0d87-4916-4952-8635-94d7e9dd0e41",
      "name": "Template Creation1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        6020,
        840
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "63"
      },
      "id": "265265eb-7ae0-466a-a78b-947098484f97",
      "name": "Variant Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4380,
        740
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Barcode",
              "value": "={{  $json.Ean.toString()  }}"
            }
          ],
          "number": [
            {
              "name": "YourPrice",
              "value": "={{ $json[\"YourPrice\"] }}"
            },
            {
              "name": "Rrp",
              "value": "={{ $json[\"Rrp\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce640b3a-2b92-4400-999b-b0ebdb963216",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1840,
        920
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Ean",
              "value": "={{   $json[\"barcode\"].toString()   }}"
            },
            {
              "name": "ProductCode",
              "value": "={{ $json[\"default_code\"] }}"
            }
          ],
          "number": [
            {
              "name": "Rrp",
              "value": "={{ Math.round($json[\"list_price\"]*100)/100 }}"
            },
            {
              "name": "YourPrice",
              "value": "={{ Math.round($json[\"standard_price\"]*100)/100 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3051acb6-43ac-4026-9a26-3490822ea115",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1840,
        1160
      ]
    },
    {
      "parameters": {
        "workflowId": "51"
      },
      "id": "9983fd1c-5ae6-4c67-833a-0ec3f8f5b5ae",
      "name": "Variant Sync / Tidy Up",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        6180,
        840
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Sportline"
            }
          ]
        }
      },
      "id": "e9281fbd-7702-40be-a313-2947b1492738",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        740,
        1740
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "8260e733-a498-43d1-97d0-558e29945215",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1260,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `Map-SupplierInfo` WHERE Name = \"Chicken\";"
      },
      "id": "c2c998e6-91cd-4b4d-9e63-eae9d0b7e976",
      "name": "Get Globals",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1040,
        840
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{  JSON.parse($json[\"Globals\"])[0]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "77265706-19d0-4389-8ff2-4a659bd75cdd",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        840
      ]
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1499.6442850874446
      },
      "id": "b27bf591-d31f-4e15-ac6e-de1350a460ae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        520
      ]
    },
    {
      "parameters": {
        "content": "##Chicken Only Nonsense",
        "height": 213.38479784366598,
        "width": 328.12100485175233
      },
      "id": "bd11ffd1-5d96-434e-b328-49dee588c3ee",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4971.205140700809,
        663.0727762803235
      ]
    },
    {
      "parameters": {},
      "id": "71c3caf8-227a-4e7f-8979-582a5d9048d7",
      "name": "Product Import",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3140,
        820
      ]
    },
    {
      "parameters": {
        "workflowId": "67"
      },
      "id": "15dd9ce6-adc7-4942-9137-659dd3c449ae",
      "name": "Colour Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5020,
        740
      ]
    },
    {
      "parameters": {
        "workflowId": "68"
      },
      "id": "c5b1ca60-4074-4230-a550-ad50d0bf62e9",
      "name": "Attribute Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5180,
        940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Supplier",
              "value": "={{ $(\"Globals\").first().json[\"Name\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5ce8423-1cfd-41e7-8f5b-ff6555325fa8",
      "name": "retrieve globals 99",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2620,
        820
      ]
    },
    {
      "parameters": {
        "workflowId": "76"
      },
      "id": "aa8efc6c-3186-4881-b4b3-6ec56516ff3c",
      "name": "Category Tidy",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3300,
        820
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Transit-Chicken` SET Size = Size1;"
      },
      "id": "e56c6fd1-a624-4f71-b18f-3f6451cfa2fd",
      "name": "CHICKEN Size Transpose",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        3900,
        940
      ],
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "78"
      },
      "id": "42abdba7-d06b-45c8-a771-6f63c3f362ea",
      "name": "Size2 Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5380,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "ac49f532-c695-4180-af44-33c9bd6281cd",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3900,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "89736918-d3af-4a1a-b56c-6fbd7c989eb9",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4040,
        940
      ]
    },
    {
      "parameters": {
        "content": "## Chicken Specific \n",
        "height": 250.30727441860475,
        "width": 277.9083557951483
      },
      "id": "96075203-e0fd-4ecf-abac-cee787fc7573",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        689.6927255813952
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "ddb78b34-5794-409f-8029-a5530af00527",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4240,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "39a445a1-d557-4855-8294-98ddfbb8f45f",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4380,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "e3a13aee-d7d8-4cda-bd03-b7dc35cf8c49",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4560,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "58570c66-b245-43c5-b666-08ac2a55598e",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4700,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "f9771a0d-5e2a-4b07-ac31-12c688ae9223",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4880,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "4ccf0758-0e5e-452f-a366-0d4e57d82edb",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5040,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "4548ae33-d3a7-4957-a90f-f568295236d5",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5240,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "ed5d87b9-41f4-48fc-a9be-e230969c3fd3",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5420,
        940
      ]
    },
    {
      "parameters": {
        "workflowId": "79"
      },
      "id": "623cc700-15aa-4e43-9025-098c6dc98b06",
      "name": "Version2 Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5560,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "6015f796-75fd-4e0b-ace7-f23016a4f832",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5880,
        840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Transit-Chicken` SET VariantGrouping = REPLACE(VariantGrouping,\"\\\"\",\"Inch\");"
      },
      "id": "a1f292cd-4e0a-4fa6-8c98-daef0e73b3ae",
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        3440,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "ngK7puQLOifkj3yZ",
      "createdAt": "2023-07-30T14:47:14.380Z",
      "updatedAt": "2023-07-30T14:47:14.380Z",
      "name": "Chicken"
    },
    {
      "id": "siOv68LvUdVRWklZ",
      "createdAt": "2023-07-30T14:17:43.423Z",
      "updatedAt": "2023-07-30T14:17:43.423Z",
      "name": "MySQL - to Update"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-30T14:47:18.000Z",
  "versionId": "9b3b9d77-02f9-4011-a5c0-6b34d02ab656"
}