workflowsData Update: Madison: Prep.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Net RRP": {
      "main": [
        [
          {
            "node": "Add Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Columns": {
      "main": [
        [
          {
            "node": "Add Stock Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Stock Count": {
      "main": [
        [
          {
            "node": "Expand Transmissions SubCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename URLs": {
      "main": [
        [
          {
            "node": "Rename URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename URLs1": {
      "main": [
        [
          {
            "node": "Rename URLs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename URLs2": {
      "main": [
        [
          {
            "node": "Rename URLs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename URLs3": {
      "main": [
        [
          {
            "node": "Rename Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH2": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Transmissions SubCat": {
      "main": [
        [
          {
            "node": "Expand Finishing Kit SubCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Finishing Kit SubCat": {
      "main": [
        [
          {
            "node": "Expand Tyres & Tubes SubCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Tyres & Tubes SubCat": {
      "main": [
        [
          {
            "node": "Expand Clothing/Accessories SubCat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Clothing/Accessories SubCat1": {
      "main": [
        [
          {
            "node": "Remove POS Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove POS Category": {
      "main": [
        [
          {
            "node": "Rename URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "SSH2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "SSH1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Net RRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH1": {
      "main": [
        [
          {
            "node": "SSH3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH3": {
      "main": [
        [
          {
            "node": "SSH4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH4": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Calculate Net RRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [],
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T14:51:32.935Z",
  "id": "Zu2Wr3TPnxgRis0T",
  "name": "Data Update: Madison: Prep",
  "nodes": [
    {
      "parameters": {},
      "id": "1f9a711c-821b-4427-b2ba-af01eb3f6161",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1440,
        1140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Upload-Madison` SET `RRP` = `RRP` / (1+(`Vat Rate`/100));"
      },
      "id": "a5d72c51-eefc-48d8-9870-52ebac6a7cea",
      "name": "Calculate Net RRP",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1920,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE `Upload-Madison` CHANGE `Product Code` `ProductCode` VARCHAR(40),CHANGE `Description (80 Chars)` `ProductName` VARCHAR(100),CHANGE `Short Description (40 Chars)` `ShortDescription` VARCHAR(40),CHANGE `Long Web Text` `LongDescription` LONGTEXT,CHANGE `Barcode` `Ean` VARCHAR(29),CHANGE `Vat Rate` `Vat` INT(2),CHANGE `Unit of Measure` `PackQty` VARCHAR(11),CHANGE `RRP` `Rrp` DECIMAL(7,2),CHANGE `Lead Time` `LeadTime` INT(3),CHANGE `Image Name` `ImageUrl` VARCHAR(100),CHANGE `Alternative Image 1` `AlternativeImage1Url` VARCHAR(100),CHANGE `Alternative Image 2` `AlternativeImage2Url` VARCHAR(100),CHANGE `Alternative Image 3` `AlternativeImage3Url` VARCHAR(100),CHANGE `Supplier Code` `SupplierCode` VARCHAR(30),CHANGE `Brand Colour` `Colour` VARCHAR(100),CHANGE `Variant Grouping` `VariantGrouping` VARCHAR(30),CHANGE `Outer Quantity` `OuterQuantity` INT(3),CHANGE `Your Price` `YourPrice` DECIMAL(7,2),CHANGE `Sub Category` `SubCategory` VARCHAR(100),CHANGE `Product Extra Info (eg Crank Length / Lens Colour)` `TechnicalSpec` LONGTEXT,CHANGE `Product Extra Information Label` `TechnicalSpecLabel` LONGTEXT;"
      },
      "id": "07280ad0-a614-407d-97e7-1dd2284ff00d",
      "name": "Rename Columns",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2100,
        2180
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE `Upload-Madison` ADD `StockCount` INT(1) NULL DEFAULT NULL;"
      },
      "id": "c5e81b52-ba42-4db6-bb99-6e332b691a37",
      "name": "Add Columns",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2100,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE `Upload-Madison` \nINNER JOIN `Stock-Madison` ON `Upload-Madison`.`Product Code` = `Stock-Madison`.`Product Code`\nSET `StockCount` = (IF(`Stock-Madison`.`In Stock` = \"Y\", 1, 0)) "
      },
      "id": "a9add8f4-3df0-4035-8005-ec3b5db06529",
      "name": "Add Stock Count",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2260,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE `Upload-Madison` SET `Image Name` = IF(`Image Name` != \"\", CONCAT(\"https://www.madisonb2b.co.uk/netalogue/zoom/\",`Image Name`,\".jpg\"), NULL);"
      },
      "id": "3bd560e6-cc52-4f11-ba0a-63a9c0fc3fa4",
      "name": "Rename URLs",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2100,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE `Upload-Madison` SET `Alternative Image 1` = IF(`Alternative Image 1` != \"\", CONCAT(\"https://www.madisonb2b.co.uk/netalogue/zoom/\",`Alternative Image 1`,\".jpg\"), NULL);"
      },
      "id": "cb8ee2fc-9b68-4a37-ab49-1583c2225b82",
      "name": "Rename URLs1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2260,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE `Upload-Madison` SET `Alternative Image 2` = IF(`Alternative Image 2` != \"\", CONCAT(\"https://www.madisonb2b.co.uk/netalogue/zoom/\",`Alternative Image 2`,\".jpg\"), NULL);"
      },
      "id": "9cd66f78-9595-4861-84fb-652a869a98d8",
      "name": "Rename URLs2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2400,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE `Upload-Madison` SET `Alternative Image 3` = IF(`Alternative Image 3` != \"\", CONCAT(\"https://www.madisonb2b.co.uk/netalogue/zoom/\",`Alternative Image 3`,\".jpg\"), NULL);"
      },
      "id": "2760ad9d-21a0-404c-85c7-7ceb5c5cdca1",
      "name": "Rename URLs3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2540,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "command": "=psql -d odooData -c \"\\\\COPY odoodata.upload_madison FROM /home/luke/feeds/Upload-Madison.csv DELIMITER ',' CSV HEADER;\"",
        "cwd": "/home/luke/feeds/"
      },
      "id": "f8d71e01-e0d4-4fb9-b789-7ffb109500b4",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2240,
        1140
      ],
      "credentials": {
        "sshPassword": {
          "id": "XjhjaSmzbkvtSZ0m",
          "name": "Node3: postgres"
        }
      }
    },
    {
      "parameters": {
        "command": "=LANG=C sed -i 's/[\\d128-\\d255]//g' /home/luke/feeds/Upload-Madison.csv",
        "cwd": "/home/luke/feeds/"
      },
      "id": "748d795b-65ee-4496-964d-abd8a8757b8a",
      "name": "SSH2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2060,
        1140
      ],
      "credentials": {
        "sshPassword": {
          "id": "jW26ND48jT87UhK8",
          "name": "Node3: Root"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Upload-Madison` SET `Sub Category` = `Sub Sub Category` WHERE `Sub Category` = \"Transmissions\";"
      },
      "id": "9813600f-0ce1-4bf1-b572-80da324d1874",
      "name": "Expand Transmissions SubCat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2100,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Upload-Madison` SET `Sub Category` = `Sub Sub Category` WHERE `Sub Category` = \"Finishing Kit\";"
      },
      "id": "942202f2-2b4e-4669-8cfa-45279977a682",
      "name": "Expand Finishing Kit SubCat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2280,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Upload-Madison` SET `Sub Category` = `Sub Sub Category` WHERE `Sub Category` = \"Tyres & Tubes\";"
      },
      "id": "fec86610-48ed-495e-a39e-79e9fb718f95",
      "name": "Expand Tyres & Tubes SubCat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2460,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Upload-Madison` SET `Sub Category` = `Sub Sub Category` WHERE `Sub Category` = \"Accessories\" AND Category = \"Clothing\";"
      },
      "id": "3331d0fb-0d43-468a-8ef3-c36d888b8308",
      "name": "Expand Clothing/Accessories SubCat1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2640,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM `Upload-Madison` WHERE `Category` = \"POS\";"
      },
      "id": "fb1f75ad-f88d-4f2e-8c0d-f4646565a28d",
      "name": "Remove POS Category",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        2840,
        1780
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "2",
          "name": "node3.biketrax.co.uk: odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE IF EXISTS odoodata.upload_madison; ",
        "options": {}
      },
      "id": "e7bf574e-77d9-4a37-aa5f-9a5b50f5269c",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1620,
        1140
      ],
      "credentials": {
        "postgres": {
          "id": "9Jz67Tm0faeykq6p",
          "name": "odoodata"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE odoodata.upload_madison AS\n  SELECT *\nFROM odoodata.template_madison;",
        "options": {}
      },
      "id": "c1287a85-3c98-4327-9c2b-3e573c6a0461",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1900,
        1140
      ],
      "credentials": {
        "postgres": {
          "id": "9Jz67Tm0faeykq6p",
          "name": "odoodata"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stderr }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0df657f4-7a1d-41b2-a705-0638d87ca8e6",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2460,
        1140
      ]
    },
    {
      "parameters": {
        "fromEmail": "catchall@biketrax.co.uk",
        "toEmail": "peter.thain@biketrax.co.uk",
        "subject": "Madison Feed Error",
        "text": "=Item(s) from the latest Madison data feed have failed to parse. This is usually because of a break in CSV specifications or incorrect placement of standard delimiters (,) / enclosing marks (\")  .\n\nHere is an example code with faulty data, and the error it caused:\n\nProduct Code: {{ $('Code').first().json.failed_code }}\n\n{{ $('Code').first().json.stderr }}\n\nA full list of errors is attached as a TXT file. If you could correct the errors, then then the item(s) can be added to our database on the next run.\n\nMany thanks,\n\nBiketraxBot (Product Information Database)",
        "options": {
          "attachments": "data",
          "ccEmail": "luke@biketrax.co.uk"
        }
      },
      "id": "f185ad85-2a27-4d1d-9ee4-bf1fd6c17bfb",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        4380,
        1220
      ],
      "executeOnce": true,
      "credentials": {
        "smtp": {
          "id": "enV6OrvNpARXtf1c",
          "name": "btxBot"
        }
      }
    },
    {
      "parameters": {
        "command": "=grep -n {{ \"\\\"\"+$json.stderr.split(\"\\\"\")[2]+\"\\\"\" }}  /home/luke/feeds/Upload-Madison{{ $runIndex == 0 ? \"\" : $runIndex }}.csv | cut -f1 -d:"
      },
      "id": "cab1ad18-e932-4a47-8c5d-be8411eea7cb",
      "name": "SSH1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2660,
        1020
      ],
      "credentials": {
        "sshPassword": {
          "id": "jW26ND48jT87UhK8",
          "name": "Node3: Root"
        }
      }
    },
    {
      "parameters": {
        "command": "={{\"sed '\"+$json.stdout+\"d'\"}} /home/luke/feeds/Upload-Madison{{ $runIndex == 0 ? \"\" : $runIndex }}.csv > /home/luke/feeds/Upload-Madison{{ $runIndex+1 }}.csv"
      },
      "id": "4291d0e4-8b9d-4b6d-91aa-4b8972e53626",
      "name": "SSH3",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2920,
        1220
      ],
      "credentials": {
        "sshPassword": {
          "id": "jW26ND48jT87UhK8",
          "name": "Node3: Root"
        }
      }
    },
    {
      "parameters": {
        "command": "=psql -d odooData -c \"\\\\COPY odoodata.upload_madison FROM /home/luke/feeds/Upload-Madison{{ $runIndex+1 }}.csv DELIMITER ',' CSV HEADER;\"",
        "cwd": "/home/luke/feeds/"
      },
      "id": "e0d74983-4553-4265-9f70-34ce063d8c91",
      "name": "SSH4",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3120,
        1220
      ],
      "credentials": {
        "sshPassword": {
          "id": "XjhjaSmzbkvtSZ0m",
          "name": "Node3: postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stderr }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "78a11e26-1846-46f8-95b9-3c933c3791d1",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3500,
        1220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "failed_code",
              "value": "={{$json.stderr.split(\"\\\"\")[2]}}"
            },
            {
              "name": "stderr",
              "value": "={{ $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b92e19e-2a69-40a9-b609-128a23ff47e4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3320,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "let results = [],\n  i = 0;\n\ndo {\n  try {\n    results = results.concat($(\"Set\").all(0, i));\n  } catch (error) {    \n    return results;\n  }\n  i++;\n} while (true);\n"
      },
      "id": "63a39695-d1ce-4904-b796-5e32c45411ca",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        1220
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "parsing_errors.xls",
          "headerRow": true
        }
      },
      "id": "ca51df53-1c0a-4bb3-aaf4-76a45449cf32",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        4200,
        1220
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.failed_code }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "cc719719-6bba-4f16-8baf-57c49e26def8",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3920,
        1220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "KilfDEeZiGHrZNoM",
      "createdAt": "2023-07-30T14:49:29.931Z",
      "updatedAt": "2023-07-30T14:49:29.931Z",
      "name": "Madison"
    },
    {
      "id": "siOv68LvUdVRWklZ",
      "createdAt": "2023-07-30T14:17:43.423Z",
      "updatedAt": "2023-07-30T14:17:43.423Z",
      "name": "MySQL - to Update"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-30T19:20:27.000Z",
  "versionId": "37f4a0a6-e9a7-4e10-aca6-b778c1d84da1"
}