workflowsData Update: Silverfish.json
{
  "active": true,
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Sync": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size Sync": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Sync": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Write": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Sync": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Write": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation1": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Data Update: Silverfish: Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Import": {
      "main": [
        [
          {
            "node": "Category Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Write": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Write": {
      "main": [
        [
          {
            "node": "Template Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Size Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Insert Supplier Specific Code Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Variant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Brand Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Brand Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Colour Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Colour Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Attribute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Template Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Data Update: GENERIC: Make Transit Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Template Creation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Update: Silverfish: Prep": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Update: GENERIC: Make Transit Tables": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Supplier Specific Code Here": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Data Sync: Generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T10:12:19.465Z",
  "id": "iM02LPsOht7oQrwM",
  "name": "Data Update: Silverfish",
  "nodes": [
    {
      "parameters": {},
      "id": "3352735b-07e4-425f-b552-cb820c3fc291",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1220,
        760
      ]
    },
    {
      "parameters": {
        "workflowId": "61"
      },
      "id": "fad1b2f1-63c0-49ca-bbed-3eedd3f93b60",
      "name": "Category Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4180,
        640
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "62"
      },
      "id": "50c041a9-dc15-4801-995d-2eff4f87ff2c",
      "name": "Size Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4300,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "64"
      },
      "id": "8e03694e-4e1d-40b6-a943-111bdb4122bf",
      "name": "Brand Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4640,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "65"
      },
      "id": "7d2239dd-2d18-4570-969f-4afa077434e9",
      "name": "Brand Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4820,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": "66"
      },
      "id": "4f253ac2-a9a8-4712-a837-c2d91cbb6355",
      "name": "Colour Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4960,
        840
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "332d72fe-982c-4373-842a-93b00a2fc65f",
      "name": "Template Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5480,
        740
      ]
    },
    {
      "parameters": {
        "workflowId": "69"
      },
      "id": "8faa8131-c1ac-4b14-8e15-1a3c8aeb07f9",
      "name": "Template Creation1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5760,
        740
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "63"
      },
      "id": "19231cc3-727e-4934-a7e3-53407277a5f9",
      "name": "Variant Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4500,
        640
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Sportline"
            }
          ]
        }
      },
      "id": "5385be81-06be-424a-af98-b3f56641224b",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1240,
        1660
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "621b86e8-66e3-4e99-b885-cd4ac3d8a9ea",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1980,
        960
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{  JSON.parse($json[\"Globals\"])[0]  }}"
            },
            {
              "name": "Name",
              "value": "={{$json.Name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad3d2afe-8f04-40a1-8d85-697e722b0d72",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        760
      ]
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 2348.4204851751992
      },
      "id": "02045f26-ba4f-4a1d-9c82-efbb1183dc6a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {},
      "id": "36edbe2b-dffb-40f3-b601-909b74a87a0e",
      "name": "Product Import",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4020,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": "67"
      },
      "id": "39eb0d40-0303-4d48-8c42-3773c4c845db",
      "name": "Colour Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5140,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": "68"
      },
      "id": "3d7c73b9-c9a4-4a73-a929-ff76113f4fc6",
      "name": "Attribute Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5280,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "2c9d265b-a792-4481-8c69-78f58237da9d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4180,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "f14f6d8f-59a5-4141-ba63-1c743f8c2408",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2920,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "342fc2f3-627b-47e7-a895-4298fa182b85",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4360,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "60e403f3-b179-4053-b372-e90426b7d310",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4500,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "271db6b8-9382-4759-a3a6-3628e653c1a2",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4680,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "c54ba4b9-20e5-49ce-b17e-32da23023b9d",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4820,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "fe961d62-966b-45dd-b2f9-0d012f774734",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5000,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "1029146a-ef5f-4d04-ba20-aa269bcec279",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5140,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "7577120f-eabf-4ea9-8aab-7cd65f988bbf",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5620,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "c7629d51-53ed-44b3-bb0e-c54beeb3fa72",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2180,
        1200
      ]
    },
    {
      "parameters": {
        "path": "d6637f7a-97f9-4f2d-96bd-a493b0112995",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5f60ebf0-9192-4e98-9a13-c252ba110bc2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1220,
        960
      ],
      "webhookId": "d6637f7a-97f9-4f2d-96bd-a493b0112995"
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "2bfc2279-e996-463f-ac3b-a8fbebdd6175",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5480,
        1380
      ]
    },
    {
      "parameters": {
        "workflowId": "110"
      },
      "id": "89f80946-848b-46ef-9f84-44029c5e5587",
      "name": "Template Creation2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5620,
        1380
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Silverfish';",
        "options": {}
      },
      "id": "e81ba70e-42de-4366-bf23-d0ee7ebbb156",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1620,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "9Jz67Tm0faeykq6p",
          "name": "odoodata"
        }
      }
    },
    {
      "parameters": {},
      "id": "0f95c915-172c-4dfd-99c9-2421d4263ef7",
      "name": "Insert Supplier Specific Code Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3100,
        1080
      ]
    },
    {
      "parameters": {
        "workflowId": "eDhSzuVhnolE3rwa"
      },
      "id": "5f6c554b-bded-40d2-8ace-ff1f6ab44f11",
      "name": "Data Update: Silverfish: Prep",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2180,
        960
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "ickMvwWPWp74exVK"
      },
      "id": "3bbb81f1-affa-41c3-9e2d-90718cd77014",
      "name": "Data Update: GENERIC: Make Transit Tables",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2340,
        1200
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "b0b46ec1-fb09-4655-9841-7e82307ee013",
      "name": "Code11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3260,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": "zmVAs0qEktZ3CXjA"
      },
      "id": "8b93df12-3c89-4eff-936f-068e33aeb25b",
      "name": "Data Sync: Generic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3420,
        720
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "NgXcDDqIPq9W8PqT",
      "createdAt": "2023-07-30T10:50:20.897Z",
      "updatedAt": "2023-07-30T10:50:20.897Z",
      "name": "Postgresql"
    },
    {
      "id": "vrc5VNjb4SOa3VHN",
      "createdAt": "2023-07-30T10:12:27.575Z",
      "updatedAt": "2023-07-30T10:12:27.575Z",
      "name": "Silverfish"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-30T16:06:46.000Z",
  "versionId": "a37bc249-4f93-49f6-81b6-db5cc6a8cfad"
}